.intro {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color:$F7;
    padding: 1em 3em 1em 3em;
    height: 242px;

    p {
        font-size:1.02em;
        margin-bottom: 30px;
    }

    a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-style: normal;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 218px;
    }
    a:hover {
        filter: brightness(105%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
      }
}

.Fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0px;
    h1 {
        position: absolute;
        left: 5%;
        bottom:57%;
    }
    .fa-1, .fa-2, .fa-3 {
        border: solid 2px $MainColor;
        border-radius: 50%;
        padding: 2px 6px;
        background-color: $MainColor;
        color: $F7;
        position: relative;
        right: 12px;
    }
    .fa-mobile-screen-button {
        color: #7E7E7E;
        font-size: 19px;
        margin: 0px 20px;
    }
    .fa-list-ul {
        color: #7E7E7E;
        font-size: 19px;
        margin: 0px 20px;
    }
    .fa-store {
        color: $MainColor;
        font-size: 19px;
        margin: 0px 20px;
    }
    .card {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        padding: 24px 0px;
        width: 100%;
        background-color: $F7;
    }
    a {
        display: flex;
        align-items: center;
        width: 86%;
        font-style: normal;
        border-radius: 20px;
        font-family: "Roboto";
        text-decoration: none;
        font-weight: 500;
        color: black;
        margin-top: 35px;
    }
    a:hover {
        filter: brightness(102%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
      }
}

.Restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0px 29px 0px;
    background-color: $F7;
    h1 {
        position: absolute;
        bottom:18%;
        left:5%;
    }
    h2 {
        padding: 7px 13px;
        font-size: 18px;
        margin: 0;
    }
    p {
        padding: 5px 13px;
        font-size: 17px;
        margin: 0;
    }
    a {
        font-family: "Roboto";
        text-decoration: none;
        color: black;
    }
    .card {
        border-radius: 20px;
        padding: 0px 0px 33px 0px;
        margin: 18px 0px;
        width: 91%;
        height: 260px;
        background-color: white;
        overflow: hidden;
    }
    img {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        height: 179px;
        object-fit: cover;
    }
    .New_btn {
        height: 200px;
        width: 100%;
        background-position: center center;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        padding-right: 20px;
    }
    #palette {
        background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }
    #note {
        background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg)
    }
    #francaise {
        background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    }
    #delice {
        background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    }

    span {
        border-radius: 2px;
        padding: 6.5px 12.5px;
        background-color: #99E2D0;
        color: green;
        font-size: 14px;
        font-weight: 500;
        width: fit-content;
        height: fit-content;
        border: none;
        margin-right: 20px;
    }
}

/* Tablet (768px)*/
@media (min-width: 768px) {
    .Restaurants {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap:25px;
        .card {
            width: calc(48% - 36px);
        }
    }
}

/* Desktop (1024px)*/
@media (min-width: 1024px) { 
    .Fonctionnement {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap:0px;
        padding: 48px 25px 48px 53px;
        .card {
            width: 100%;
        }
        a {
            width: 31%;
        }
    }
    .Restaurants {
        gap: 15px 50px;
        .card {
            width: calc(46% - 36px);
        }
        h1 {
            bottom: 38%;
        }
    }
}

/* Desktop (1440px)*/
@media (min-width: 1440px) { 
    .Fonctionnement {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 48px 45px 48px 53px;
    }
    .Restaurants {
        h1 {
            bottom: 38%;
        }
    }
}