.intro {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-color:$F7;
    padding: 1em 3em 3em 3em;

    p {
        font-size:1.02em;
        margin-bottom: 30px;
    }

    a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    font-style: normal;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 78%;
    }
}

.Fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0px;
    h1 {
        position: relative;
        right: 84px;
    }
    .fa-1, .fa-2, .fa-3 {
        border: solid 2px $MainColor;
        border-radius: 50%;
        padding: 2px 6px;
        background-color: $MainColor;
        color: $F7;
        position: relative;
        right: 12px;
    }
    .fa-mobile-screen-button {
        color: #7E7E7E;
        font-size: 19px;
        margin: 0px 20px;
    }
    .fa-list-ul {
        color: #7E7E7E;
        font-size: 19px;
        margin: 0px 20px;
    }
    .fa-store {
        color: $MainColor;
        font-size: 19px;
        margin: 0px 20px;
    }
    .card {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        padding: 24px 0px;
        margin: 18px 0px;
        width: 86%;
        background-color: $F7;
    }
    a {
        display: flex;
        align-items: center;
        width: 322px;
        font-style: normal;
        font-family: "Roboto";
        text-decoration: none;
        font-weight: 500;
        color: black;
    }
}

.Restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 0px;
    background-color: $F7;
    h1 {
        position: relative;
        right: 103px;
    }
    h2 {
        padding: 7px 13px;
        font-size: 18px;
        margin: 0;
    }
    p {
        padding: 5px 13px;
        font-size: 17px;
        margin: 0;
    }
    a {
        font-family: "Roboto";
        text-decoration: none;
        color: black;
    }
    .card {
        border-radius: 20px;
        padding: 0px 0px 18px 0px;
        margin: 18px 0px;
        width: 91%;
        height: 233px;
        background-color: white;
    }
    img {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        height: 179px;
        object-fit: cover;
    }
    span {
        border-radius: 2px;
        padding: 6.5px 12.5px;
        background-color: #99E2D0;
        color: green;
        position: relative;
        bottom: 100%;
        left: 65%;
        font-size: 14px;
        font-weight: 500;
    }
    .fa-heart {
        left: 88%;
        bottom: 21%;
        font-size: 22px;
        position: relative;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: thin;
}
}
