
.header_logo_page1 {
    display:flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding:9px;
    background-color: purple;
    img {
        width:162px;
        padding:8px;
    }
}
