// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    background-color: #353535;
    padding: 2px 0px;

h1 {
    color:#FFFFFF;
    font-family: Shrikhand;
    font-weight: 400;
    font-size: 18px;
    padding: 22px 25px;
}

}