.header_logo {
    display:flex;
    justify-content:center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding:9px;
    img {
        width:162px;
        padding:8px;
    }
}

.header_location {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 50px;
    gap:3px;
    background-color: $Grey;
    input {
        border:none;
        text-align: center;
        background-color: $Grey;
        width: 128px;
    }
    p {
        text-align: center;
    }
}