// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.Restaurants {
.hidden-checkbox {
    display: none;
  }
  
  /* Style de base pour le coeur */
  .fa-heart {
    display: flex;
    justify-content: flex-end;
    bottom: 19%;
    right: 27px;
    font-size: 22px;
    position: relative;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: thin;
  }
  
  /* Animation pour remplir le coeur */
  @keyframes fill-heart {
    0% {
      -webkit-text-fill-color: transparent;
      opacity: 0.2;
      background: linear-gradient(#FF79DA, #9356DC);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transition: all 800ms;
    }
    25% {
      -webkit-text-fill-color: linear-gradient(#FF79DA, #9356DC);
      transform: opacity(0.2);
    }
    50% {
      -webkit-text-fill-color: linear-gradient(#FF79DA, #9356DC);
      transform: opacity(0.6);
    }
    75% {
      -webkit-text-fill-color: linear-gradient(#FF79DA, #9356DC);
      transform: opacity(0.8);
    }
    100% {
      -webkit-text-fill-color: #FF79DA;
      transform: opacity(1);
  }
}
  /* Animation lorsque la checkbox est cochée */
  input[id^="heart-checkbox"]:checked ~ label[for^="heart-checkbox"] .fa-heart {
    animation: fill-heart 2s forwards;
}
}